@font-face {
    font-family: "roboto";
    src:url("./fonts/RobotoMono-Regular.ttf");
}

body{
	text-align: center;
	font-family: "roboto";
}
.row{
	display: inline-block;
	width: 100%;
}

.col-50{
	width: 50%;
	margin:auto;
}

.device-box{
	border: 1px solid black;
}

.device-box h1{
	font-size: 12px;
background-color: black;
color: white;
margin-top: 0px;
}

.device-box h1.blink{
	background-color: gray;
}

button{
	height: 40px;
	background-color: #fafafa;
	border: 1px solid black;
	border-bottom: 4px solid black;
	margin-bottom: 15px;
	margin-top: 5px;
}

button:hover{
	border-bottom: 7px solid black;
}
